<header class="w-screen border border-b p-4">
  <nav
    class="mx-auto flex items-center justify-between w-full"
  >
    <div>
      <a href="/">
        <h4 class="prose">Class Notes</h4>
      </a>
    </div>
    <ul class="list-none"></ul>
  </nav>
</header>
